@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #EDF2F4;
  --foreground: #171717;
  --primary: #EF233C;
  --secondary: #8D99AE;
  --text-color: #2B2D42;
  --primary-font: "Raleway", sans-serif;
}

@theme {
  --color-background: #EDF2F4;
  --color-foreground: #171717;
  --color-primary: #EF233C;
  --color-secondary: #8D99AE;
  --color-text: #2B2D42;
  --primary-font: "Raleway", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
  color: var(--text-color);
}
